@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';

}

body {
    overflow-x: hidden;
    background-color: #121212;
    margin: 0;
    padding: 0;
}

#fullVideo {
    left: 50%;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.parentDiv {
    text-align: center;
}

.arrow {
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    color: #ffff;
    text-align: left;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-size: 25px;
    animation: bobbingArrow 1.25s infinite;
}

@keyframes bobbingArrow {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -8px;
    }
    100% {
        bottom: 0;
    }
}

#arrow {
    text-decoration: none;
    color: #ffff;
    text-align: center;
}


.second-sector {
    position: absolute;
    color: #ffff;
    background-color: rgba(0,0,0,0);
    text-align: center;
    top: 130vh;
}